<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UXC规范管理后台</title>
</head>
<frameset cols="240,*" frameborder="no" border="0" framespacing="0">
	<frame src="/guifan/admin/nav" name="leftFrame" scrolling="auto" noresize="noresize" id="navFrame" title="navFrame" />
	<frame src="/guifan/admin/yixia" name="mainFrame" id="mainFrame" title="mainFrame" />
</frameset>
<noframes>
	<body>Your browser does not handle frames!</body>
</noframes>
<body>

</body>
</html>